body{
  background: #272A43;
}


/**************** Top Drawer ********************/

.toolbar{
  background: linear-gradient(to right, #ff5050  0%,#ff9900 100%);
}

/**************** App ********************/

.mainApp{
  display: flex;
  border: solid green;
}

.headerContainer{
  display: flex;
  flex-direction: column;
  border: solid blue;
  left: 50%;
  margin-top: 10em;
  z-index: 1;
  justify-content: center;
}

.drawerContainer{
  display: flex;
  border: solid pink;
}

.nassauTitle{
  /* text-transform: uppercase; */
  left: 50%; 
  font-size: 4em;
  font-weight: 100;
  font-family: sans-serif;
  background: linear-gradient(to right, #ff5050  0%,#ff9900 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/**************** Background ********************/

.circle{
  position: absolute;
  z-index: -2;
  border-radius: 50%;
  background: white;
  animation: ripple 20s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}
.small{
  left: 2em;
  top: 6em;
  width: 10em;
  height: 10em;
  opacity: 0.8;
  /* background: blue; */
}
.medium{
  left: 0em;
  top: 4em;
  width: 14em;
  height: 14em;
  opacity: 0.6;
  /* background: green; */
}
.large{
  left: -2em;
  top: 2em;
  width: 18em;
  height: 18em;
  opacity: 0.4;
  /* background: orange; */
}
.xlarge{
  width: 30em;
  height: 30em;
  left: -8em;
  top: -4em;
  opacity: 0.2;
  /* background: purple;  */
}
.xxlarge{
  width: 50em;
  height: 50em;
  left: -18em;
  top: -14em;
  opacity: 0.1;
  /* background: red;  */
}

@keyframes ripple{
  0%{
    transform: scale(.9);
  }
  
  50%{
    transform: scale(1.4);
  }
  
  100%{
    transform: scale(.9);
  }
}

/**************** Logo ********************/

.logo {
  position: absolute;
  left: 2em;
  top: 6em;
  width: 10em;
  height: 10em;
  z-index: -1;
}




