@font-face{
  font-family: 'bebasNeueThin';
  src: url('BebasNeue-Thin.otf') format('opentype');
  font-weight: normal;
}

@font-face{
  font-family: 'bebasNeueRegular';
  src: url('BebasNeue-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face{
  font-family: 'bebasNeueLight';
  src: url('BebasNeue-Light.otf') format('opentype');
  font-weight: normal;
}

@font-face{
  font-family: 'bebasNeueBook';
  src: url('BebasNeue-Book.otf') format('opentype');
  font-weight: normal;
}

@font-face{
  font-family: 'bebasNeueBold';
  src: url('BebasNeue-Bold.otf') format('opentype');
  font-weight: normal;
}

body{
  background: #272A43;
  font-family: 'Alegreya Sans', sans-serif;
}

/**************** App ********************/

.mainApp{
  display: flex;
}

/**************** Top Drawer ********************/

.toolbar{
  background: linear-gradient(to right, #e82525  0%,#ff5050 70%);
}

.drawerContainer{
  height: 50%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; 
}

/**************** Instructions ********************/
.instructionsContainer {
  display: flex;
  flex-direction: column;
}

.instructions {
  font-size: 2em;
  color: white;
  text-align: right;
  margin-right: 2em;
}

/**************** Home ********************/

.headerContainer{
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center; 
  margin-top: 15vh;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.frontCopy1{
  font-family: 'Exo 2', sans-serif;
  font-size: 5vw;
  font-weight: 900;
  text-align: center;
  background: linear-gradient(to right, white  20%, #e6e3e4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.portraitContainer {
  display: flex;
  justify-content: center;
  width: 50vw;
}

.portrait {
  width: 100%;
  height: 50%;
  object-fit: contain;
  border-radius: 40px;
  opacity: .75;
  border: solid #ff5050;
  border-style: groove; 
}

.frontCopy2{
  font-family: 'Exo 2', sans-serif;
  font-size: 4vw;
  font-weight: 100;
  text-align: center;
  color: white;
}
.quotesContainer{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 4em;
}

.quote{
  flex-wrap: wrap;
  font-family: 'Kavivanar', cursive;
  font-size: 1.5em;
  font-weight: 100;
  color: white;
  justify-content: left;
}

.author{
  font-family: 'Exo 2', sans-serif;
  font-size: 1em;
  font-weight: 400;
  justify-content: center;
  color: #ff5050;
  margin-bottom: 2em; 
}

/**************** About ********************/

.aboutContainer{
  margin-top:5.5em; 
  text-align: center;
}

.aboutTitle{
  font-family: 'Exo 2', sans-serif;
  font-weight: 900;
  font-size: 4em;
  color: white;
}

.scott {
  height: 55vh; 
  width: auto;
  float: left;
  padding-right: 1em; 
  padding-bottom: .25em; 
}

.textContainer{
  display: flex; 
  flex-direction: column;
  display: inline-block;
  width: 80%;
}

.aboutText{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  text-align: left;
  color: white;
  margin-bottom: 2em; 
}

/**************** Resume ********************/

.resumeContainer{
  margin-top: .5em;
  width: 100%; 
  text-align: center;
}

.buttonContainer {
  width: 100%;
  height: 5em;
  margin-top: 1.5em;
  margin-bottom: 2em;
  text-align: right;
}

.button a {
  color: #ff5050;
} 

.button {
  margin-bottom: 5em;
  margin-right: 12.5%;
  padding:1em;
  border:0.15em solid #ff5050;
  border-radius:.5em;
  font-family:'Roboto',sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  color:  #ff5050;
  transition: all 0.2s;
  box-sizing: border-box;
  background-color: transparent;
}

.button a:hover {
  color: #130a0a;
}

.button:hover {
  background-color:#ff5050;
  color: #130a0a;
  cursor: pointer;
}

.resumePaper {
  border: solid #ff5050;
  background: white;
  justify-content: center;
  display: grid;
  grid-template-columns: 3fr 7fr;
  width: 75%;
  margin: 0 auto;
}

.sidePanel{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  float: left;
  z-index: 1;
  background: lightgrey;
}

.skillsContainer {
  flex-grow: 2;
}

/* .logoContainer {
  border: solid orange;
} */

.resumeLogo {
  margin-top: 6%;
  width: 80%;
  height: auto;
  z-index: 2;
  text-align: center;
}

.sideTitle{
  font-family: 'bebasNeueRegular', sans-serif;
  text-align: left;
  z-index: 2;
  font-size: 2vw;
  margin-left: 1.5vw;
  margin-top: .5vh;
  margin-bottom: -.5vh;
}
.skillsList{
  z-index: 2;
  margin-left: 2.5vw; 
}

.skill{
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2vw;
  font-weight: 300;
  z-index: 2;
  line-height: 2.6vh;
}
.triangleSide{
  font-size: 1.4vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.skillTitle{
  font-family: 'Roboto', sans-serif;
  font-size: 1.3vw;
  text-align: left;
  margin-left: 2vw;
  margin-top: 1vh;
  z-index: 2;
}

/* .resumeMainContainer{
  border: solid green;
} */

.resumeTopContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  height: 19.6vw;
}

.resumeTitleContainer{
  display: flex;
  z-index: 2;
  flex-direction: column;
  flex-grow: 3;
}

.resumeTitle {
  z-index: 2;
  margin-top: 10%;
  margin-left: 1.5vw;
  text-align: left;
  font-family: 'bebasNeueBold';
  font-size: 3.5vw;
  color: #00008B;
}

.positionTitles{
  z-index: 2;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.7vw;
  text-align: left;
  margin-left: 1.5vw;
}

.resumeContactDetails{
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow:2; 
  margin-right: .5vw;
}

a {
  text-decoration: none;
}

.resumeContactDigits {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.25vw;
  text-align: right;
  margin-top: 12%;
  line-height: 2.5vw;
  z-index: 2;
  flex-grow: 5;
}

.resumeContactDigits a {
  color: black;
}

.resumeContactDigits a:hover {
  cursor: pointer;
  color: #ff5050;
}

.resumeIcons {
  z-index: 2;
  height: 1vw;
}

/* .resumeExperience{
  border: solid plum;
} */

.experienceTitle{
  font-family: 'bebasNeueRegular', sans-serif;
  text-align: left;
  z-index: 2;
  margin-left: 1.5vw; 
  font-size: 2.1vw;
  margin-top: .5vh;
  margin-bottom: -.5vh;
}

.experienceSubTitle {
  text-align: left;
  font-size: 1.2vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-left: 2vw;
}

.triangle {
  text-align: left;
  font-size: 1.2vw;
}

.experienceDetails {
  text-align: left;
  font-size: 1.15vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color:#696969;
  margin-left: 3.7vw;
  text-indent: -1vw;
  line-height: 2.2vh;
  margin-right: .5vw;
}

.developmentDetails {
  color:#808080;
}

/**************** Apps *************************/

.appsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center; 
  margin-top: 15vh;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.appsTitle {
  font-family: 'Exo 2', sans-serif;
  font-size: 4vw;
  font-weight: 400;
  color: #ff5050;
}

.appsGrid{
  display: grid;
  margin-top:1vh;
  grid-template-columns: 50% 50%;
}

.project {
  border: solid grey; 
  border-radius: 40px;
  background: rgba(255,255,255,.7);
  height: 40vh;
  width: 40vw;
  margin: 1.5vw; 
}

.projectTitle {
  text-align: center;
  color: #ff5050;
}

/**************** Background ********************/

.circle{
  position: absolute;
  z-index: -2;
  border-radius: 50%;
  background: white;
  animation: ripple 13s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}
.small{
  left: 2em;
  top: 6em;
  width: 10em;
  height: 10em;
  opacity: 0.8;
}
.medium{
  left: 0em;
  top: 4em;
  width: 14em;
  height: 14em;
  opacity: 0.6;
}
.large{
  left: -2em;
  top: 2em;
  width: 18em;
  height: 18em;
  opacity: 0.4;
}
.xlarge{
  width: 30em;
  height: 30em;
  left: -8em;
  top: -4em;
  opacity: 0.2;
}
.xxlarge{
  width: 50em;
  height: 50em;
  left: -18em;
  top: -14em;
  opacity: 0.1;
}

@keyframes ripple{
  0%{
    transform: scale(.9);
  }
  
  50%{
    transform: scale(1.4);
  }
  
  100%{
    transform: scale(.9);
  }
}

/**************** Logo ********************/

.logo {
  position: absolute;
  left: 2em;
  top: 6em;
  width: 10em;
  height: 10em;
  z-index: -1;
}


/**************** Arrow Container ********************/

.arrowContainer {
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: flex-end; 
}

.arrow {
  margin-right: 2em;
  width: 15px;
  height: 15px;
  border: .5px solid;
  align-items: flex-end;
  border-color: #e82525 transparent transparent #ff5050;
  transform: rotate(45deg);
}

.arrowSlider {
  position: absolute;
  -webkit-animation: slide 4s linear infinite; 
          animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s; 
    animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s; 
    animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s; 
    animation-delay: 3s;
}

@-webkit-keyframes slide {
  0% { opacity:0; transform: translateY(3em); }  
  20% { opacity:1; transform: translateY(1em); }   
  80% { opacity:1; transform: translateY(-1em); }  
  100% { opacity:0; transform: translateY(-3em); } 
}
@keyframes slide {
  0% { opacity:0; transform: translateY(3em); }  
  20% { opacity:1; transform: translateY(1em); }   
  80% { opacity:1; transform: translateY(-1em); }  
  100% { opacity:0; transform: translateY(-3em); }  
}


