@font-face{
  font-family: 'bebasNeueThin';
  src: url('BebasNeue-Thin.otf') format('opentype');
  font-weight: normal;
}

@font-face{
  font-family: 'bebasNeueRegular';
  src: url('BebasNeue-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face{
  font-family: 'bebasNeueLight';
  src: url('BebasNeue-Light.otf') format('opentype');
  font-weight: normal;
}

@font-face{
  font-family: 'bebasNeueBook';
  src: url('BebasNeue-Book.otf') format('opentype');
  font-weight: normal;
}

@font-face{
  font-family: 'bebasNeueBold';
  src: url('BebasNeue-Bold.otf') format('opentype');
  font-weight: normal;
}

body{
  background: #272A43;
  font-family: 'Alegreya Sans', sans-serif;
}

/**************** App ********************/

.mainApp{
  display: flex;
}

/**************** Top Drawer ********************/

.toolbar{
  background: linear-gradient(to right, #e82525  0%,#ff5050 70%);
}

.drawerContainer{
  height: 50%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; 
}

/**************** Instructions ********************/
.instructionsContainer {
  display: flex;
  flex-direction: column;
}

.instructions {
  font-size: 2em;
  color: white;
  text-align: right;
  margin-right: 2em;
}

/**************** Home ********************/

.headerContainer{
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center; 
  margin-top: 15vh;
  z-index: 1;
  justify-content: center;
}

.frontCopy1{
  font-family: 'Rock Salt';
  font-size: 5vw;
  font-weight: 900;
  margin-right: 4vw;
  text-align: right;
  background: linear-gradient(to right, white  20%, #e6e3e4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.portraitContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.portrait {
  width: 25vw;
  height: 25vw;
  object-fit: contain;
  border-radius: 50%;
  opacity: .75;
  border: solid #ff5050;
  border-style: groove; 
}

.frontCopy2{
  font-family: 'Exo 2', sans-serif;
  font-size: 3vw;
  font-weight: 100;
  text-align: right;
  margin-right: 4vw;
  color: white;
}
.quotesContainer{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 4em;
  margin-left: 4vw;
}

.quote{
  flex-wrap: wrap;
  font-family: 'Kavivanar', cursive;
  font-size: 1.75vw;
  font-weight: 100;
  color: white;
  justify-content: left;
}

.author{
  font-family: 'Exo 2', sans-serif;
  font-size: 1.5vw;
  font-weight: 400;
  justify-content: left;
  color: #ff5050;
  margin-bottom: 2em; 
}

/**************** About ********************/

.aboutContainer{
  margin-top:10vw; 
  text-align: center;
}

.aboutTitle{
  font-family: 'Rock Salt';
  font-weight: 900;
  font-size: 3vw;
  text-align: right;
  margin-right: 6vw;
  margin-bottom: 3vw;
  color: white;
}

.scott {
  width: 20vw; 
  height: auto;
  border: 0.5vw solid white;
  float: left;
  border-radius: .5vw;
  margin-right: 2vw;
  margin-bottom: 1vw;
}

.textContainer{
  display: flex; 
  flex-direction: column;
  display: inline-block;
  width: 80%;
}

.aboutText{
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;
  font-weight: 100;
  text-align: left;
  color: white;
  margin-bottom: 2em; 
}

/**************** Resume ********************/

.resumeContainer{
  margin-top: .5em;
  width: 100%; 
  text-align: center;
}

.buttonContainer {
  width: 100%;
  height: 5vw;
  margin-top: 1.5em;
  margin-bottom: 2em;
  text-align: right;
}

.button a {
  color: #ff5050;
} 

.button {
  margin-right: 16%;
  padding:1vw;
  border:0.1vw solid #ff5050;
  border-radius:.5em;
  font-family:'Roboto',sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  color:  #ff5050;
  transition: all 0.2s;
  box-sizing: border-box;
  background-color: transparent;
}

.button a:hover {
  color: #130a0a;
}

.button:hover {
  background-color:#ff5050;
  color: #130a0a;
  cursor: pointer;
}

.resumePaper {
  border:0.05vw solid #ff5050;
  background: white;
  justify-content: center;
  display: grid;
  grid-template-columns: 2.7fr 7.3fr;
  grid-template-rows: 1.8fr 8.2fr;
  width: 68vw;
  height: 88vw;
  margin: 0 auto;
}

/********** Resume Top Left ***********/

.logoContainer {
  background: lightgray;
}

.resumeLogo {
  margin-top: 6%;
  width: 80%;
  z-index: 2;
  text-align: center;
}

/******* Resume Top Right *******/

.resumeTopContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  /* height: 19.6vw; */
}

.resumeTitleContainer{
  display: flex;
  z-index: 2;
  flex-direction: column;
  flex-grow: 3;
}

.resumeTitle {
  z-index: 2;
  margin-top: 8%;
  margin-left: 1.5vw;
  text-align: left;
  font-family: 'bebasNeueBold';
  font-size: 3.5vw;
  color: #00008B;
}

.positionTitles{
  z-index: 2;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.7vw;
  text-align: left;
  margin-left: 1.5vw;
}

.resumeContactDetails{
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow:2; 
  margin-right: .5vw;
}

a {
  text-decoration: none;
}

.resumeContactDigits {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.25vw;
  text-align: right;
  margin-top: 12%;
  line-height: 2.5vw;
  z-index: 2;
  flex-grow: 5;
}

.resumeContactDigits a {
  color: black;
}

.resumeContactDigits a:hover {
  cursor: pointer;
  color: #ff5050;
}

.resumeIcons {
  z-index: 2;
  height: 1vw;
}

/************ Resume Bottom Left **************/

.skillsContainer {
  background: lightgray;
  overflow: hidden;
}

.sideTitle{
  font-family: 'bebasNeueRegular', sans-serif;
  text-align: left;
  z-index: 2;
  font-size: 2vw;
  margin-left: 1.5vw;
  /* margin-top: .5vh; */
  margin-bottom: -.5vw;
}
.skillsList{
  z-index: 2;
  margin-left: 2.2vw; 
}

.skill{
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1vw;
  font-weight: 300;
  z-index: 2;
  line-height: 1.39vw;
}
.triangleSide{
  font-size: 1.3vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.skillTitle{
  font-family: 'Roboto', sans-serif;
  font-size: 1.1vw;
  text-align: left;
  margin-left: 2vw;
  margin-top: .5vw;
  z-index: 2;
}

/*************** Resume Bottom Right *************/

.resumeExperience{
  overflow: hidden;
}

.experienceTitle{
  font-family: 'bebasNeueRegular', sans-serif;
  text-align: left;
  z-index: 2;
  margin-left: 1.5vw; 
  font-size: 2vw;
  margin-bottom: -.5vw;
}

.experienceSubTitle {
  text-align: left;
  font-size: 1vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-left: 2vw;
}

.triangle {
  text-align: left;
  font-size: 1.2vw;
}

.experienceDetails {
  text-align: left;
  font-size: 1.1vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color:#696969;
  margin-left: 3.5vw;
  text-indent: -1vw;
  line-height: 1.2vw;
  margin-right: .5vw;
}

.developmentDetails {
  color:#808080;
}




/**************** Apps *************************/

.appsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center; 
  margin-top: 15vh;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.appsTitle {
  font-family: 'Exo 2', sans-serif;
  font-size: 4vw;
  font-weight: 400;
  color: #ff5050;
}

.appsFlex{
  display: flex;
  margin-top:1vh;
  flex-direction: column;
}

.project {
  /* border: solid rgba(255, 255, 255, .4);
  border-width: thin;
  border-radius: 2em;
  background: rgba(255,255,255,.2); */
  height: 30vw;
  width: 90vw;
  margin: 1.5vw;
}

.projectTitle {
  text-align: center;
  color: #ff5050;
  margin-top: .5em;
  /* margin-left: .5em; */
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2vw;
} 
.projectContainer{
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-wrap: nowrap;
}

.projectSubTitle {
  text-align: left;
  margin-left: .5em;
  color: black;
  font-family: 'Roboto', san-serif;
  font-weight: 500;
  margin-top: .5em;
  font-size: 1vw;
  text-transform: uppercase;
}

.projectTechnologies {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: .9vw;
  color: black;
  text-align: left;
  margin-left: 1em;
  text-transform: uppercase;
}

.projectDetails {
  background: rgba(255,255,255,.9);
  border: solid silver;
  border-width:thin;
  border-radius: .75vw;
  width: 45%;
  height: 100%;
  margin: 1vw;
  z-index: 2;
  flex-grow: 1;
}

.projectDescription {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: .9vw;
  color: black;
  text-align: left;
  margin-left: 1em;
}

.projectButtonContainer{
  text-align: left;
}

.projectButton {
  margin-left: .5vw;
  margin-top: .5vw;
  padding: 0.4vw;
  border:0.15em solid #ff5050;
  border-radius:.5em;
  font-family:'Roboto',sans-serif;
  font-size: 1vw;
  font-weight: 300;
  color:  #ff5050;
  transition: all 0.2s;
  box-sizing: border-box;
  background-color: transparent;
}

.projectButton:hover {
  background-color:#ff5050;
  color: white;
  cursor: pointer;
}


.projectDemo {
  border-radius: .75vw;
  width: 45%;
  height: 100%;
  float: right;
  margin: 1vw;
  z-index: 2;
  flex-grow: 1;
}

.demoGif{
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: .75vw;
}

.codeLink a{
  margin-left: .5em;
  color: black;
  font-family: 'Roboto', san-serif;
  font-weight: 500;
  margin-top: .5em;
  font-size: 1.5vw;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  float: left;
}

.codeLink a:hover {
  cursor: pointer;
  color: #ff5050
}

.githubIcon {
  margin-left: .25em;
  width: .75em;
  height: .75em;
}

/******************* Contact *******************/

.contactContainer{
  width: 100%;
  margin-top: 12vw;
  text-align: right;
}

.contactTitle {
  text-align: right;
  margin-right: 4vw;
  font-size: 5vw;
  font-family: 'Kavivanar';
  color: white;
}

.contactName {
  text-align: right;
  margin-right: 4vw;
  font-size: 3vw;
  font-weight: 600;
  font-family: 'Roboto';
  margin-top: 3vw;
  color:  white;
}

.contactInfo {
  text-align: right;
  margin-right: 4vw;
  font-size: 2vw;
  font-weight: 100;
  font-family: 'Roboto';
  color: white;
  margin-top: .5vw;
  text-decoration: none;
}

.contactInfo:hover {
  cursor: pointer;
  color: #ff5050;
}

.contactIcon{
  margin-left: .5vw;
}




/**************** Background ********************/

.circle{
  position: absolute;
  z-index: -2;
  border-radius: 50%;
  background: white;
  animation: ripple 13s infinite;
  box-shadow: 0vw 0vw .2vw 0vw #508fb9;
}
.small{
  left: 2.5vw;
  top: 7.5vw;
  width: 12vw;
  height: 12vw;
  opacity: 0.8;
}
.medium{
  left: .5vw;
  top: 5.5vw;
  width: 16vw;
  height: 16vw;
  opacity: 0.6;
}
.large{
  left: -2.5vw;
  top: 3vw;
  width: 22vw;
  height: 22vw;
  opacity: 0.4;
}
.xlarge{
  width: 36vw;
  height: 36vw;
  left: -12vw;
  top: -6vw;
  opacity: 0.2;
}
.xxlarge{
  width: 60vw;
  height: 60vw;
  left: -22vw;
  top: -17vw;
  opacity: 0.1;
}

@keyframes ripple{
  0%{
    transform: scale(.9);
  }
  
  50%{
    transform: scale(1.4);
  }
  
  100%{
    transform: scale(.9);
  }
}

/**************** Logo ********************/

.logo {
  position: absolute;
  left: 2vw;
  top: 7vw;
  width: 13vw;
  height: 13vw;
  z-index: -1;
}

/**************** TIC TAC TOE ********************/


.tictacContainer {
  align-content: center;
  width: 100%;
}

.tictacHeader{
  font-family: 'playball';
  font-weight: 500;
  font-size: 6vw;
  text-align: center;
  color: red;
}

.tictacMatchContainer{  
  display: grid;
  width: 80%;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 35% 65%;
}

.scoreBoardHeader{
  font-family: 'Roboto';
  font-weight: 200;
  margin-left: 1.5vw;
  margin-top: 1.5vw;
  color: white;
  font-size: 4vw;
}

.scoreBoardSubHeader {
  font-family: 'Roboto';
  font-weight: 600;
  color: red;
  font-size: 3vw;
  margin-left: 1vw;
}

.scoreBoardBox {
  background-color: rgba(255, 255, 255, .7);
  height: 60%;
}

.dodgerScore {
  font-family: 'playball';
  color: dodgerblue;
  font-size: 3vw;
  margin-top: .5vw;
  margin-left: 1.5vw;
}

.yankeeScore {
  font-family: 'playball';
  color: navy;
  font-size: 3vw;
  margin-top: .5vw;
  margin-left: 1.5vw;
}

.tieScore {
  font-family: 'playball';
  color: black;
  font-size: 3vw;
  margin-top: .5vw;
  margin-left: 1.5vw;
}

.score{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 3vw;
  color: black;
  float: right;
  margin-right: 10vw;
}

.scoreBoardLogo {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
}

.currentMove {
  font-family: 'playball';
  font-size: 4vw;
  color: white;
  text-align: center;
}

.tieDeclaration {
  font-family:'playball';
  font-size: 3vw;
  color: white;
  text-align: center;
}

.currentMoveBox{
  background: rgba(10,100,225,.6);
  height: 40%;
}
.tictacGameContainer{
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.tictacGame{
  margin-right: auto;
  margin-left: auto; 
  align-content: center; 
  width: 30vw; 
  height: 30vw;
  position: relative;
}

.tictacBoard{
  display: grid; 
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  position: absolute; 
  top: 0;
  left: 0; 
  width: 100%; 
  height: 100%;
  align-content: center;
  margin-left: .75vw;
  margin-top: .75vw;
}

.tictacSquare {
  border-width: .5vw;
  height: 90%;
  width: 90%;
  background-color: rgba(230, 20, 20, 0.4);
  border-radius: .75em;
}

.tictacSquareFilled{
  border-width: .5vw;
  height: 90%;
  width: 90%;
  background-color: rgba(230, 20, 20, 0.7);;
  border-radius: .75em;
  align-items: center;
  display: flex;
  justify-content: center;
}

.tictacSquare:hover{
  cursor: pointer;
  border: solid rgba(230, 20, 20, 0.3);
  z-index: 1;
}

.tictacLogo{
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  z-index: 2;
  border: solid white;
  text-align: center;
}

.currentTeamLogo{
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  z-index: 2;
  border: solid white;
  text-align: center;
  margin-top: 2vw;
}

.chooseModal {
  align-content: center;
  margin-left: auto;
  margin-top: auto;
  position: fixed; 
  display: block;
  z-index: 3; 
  left: 20%;
  top: 10%;
  border: solid blue; 
  border-radius: 1em;
  width: 60%; /* Full width */
  height: auto; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(150,20,20,0.8); /* Black w/ opacity */ 
}

.teamModalLogo {
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  margin-top: 4vw;
  z-index: 5;
}

.teamModalLogo:hover {
  border: solid silver;
  cursor: pointer;
}

.modalContainer {
  position: relative;
  text-align: center;
  margin-left: 8%;
  width: 50vw;
  height: 35vw;
  margin-top: 3vw;
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  font-weight: 300;
  color: white;
}

.winnerHeader {
  font-family: 'playball';
  font-size: 3.75vw;
  color: white;
}

.modalSubContainer{
  position: relative,
}

.newGameButton{
  float: right;
  margin-right: 3vw;
  border-radius: 1vw;
  margin-top: 10vw;
  height: 5vw;
  width: 10vw;
  color: white;
  font-family: 'Roboto';
  font-weight: 300;
  background: rgba(0,0,0,0);
}

.newGameButton:hover{
  cursor: pointer;
  background: rgba(0,0,255,.5);
  color:red;

}

/**************** Arrow Container ********************/

.arrowContainer {
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: flex-end; 
}

.arrow {
  margin-right: 2em;
  width: 15px;
  height: 15px;
  border: .5px solid;
  align-items: flex-end;
  border-color: #e82525 transparent transparent #ff5050;
  transform: rotate(45deg);
}

.arrowSlider {
  position: absolute;
  -webkit-animation: slide 4s linear infinite; 
          animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s; 
    animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s; 
    animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s; 
    animation-delay: 3s;
}

@-webkit-keyframes slide {
  0% { opacity:0; transform: translateY(3em); }  
  20% { opacity:1; transform: translateY(1em); }   
  80% { opacity:1; transform: translateY(-1em); }  
  100% { opacity:0; transform: translateY(-3em); } 
}
@keyframes slide {
  0% { opacity:0; transform: translateY(3em); }  
  20% { opacity:1; transform: translateY(1em); }   
  80% { opacity:1; transform: translateY(-1em); }  
  100% { opacity:0; transform: translateY(-3em); }  
}


